@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600';

body{
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
}
h1{
	font-size: 7em;
	font-weight: 600;
}
p{
	font-size: 2em;
	font-weight: 400;
}
a{
	text-decoration: none;
}
#container{
	padding-top: 15vh;
	padding-left: 10rem;
	padding-right: 10rem;
	text-align: right;
	background-color: #388E8E;
	color: white;
	height: 85vh;
}
button{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 13px;
}