<!-- extend base layout -->
 <script>window.twttr = (function(d, s, id) {
		  	var js, fjs = d.getElementsByTagName(s)[0],
		    t = window.twttr || {};
		  	if (d.getElementById(id)) return t;
		  	js = d.createElement(s);
		  	js.id = id;
		  	js.src = "https://platform.twitter.com/widgets.js";
		  	fjs.parentNode.insertBefore(js, fjs);
		 
		  	t._e = [];
		  	t.ready = function(f) {
		    t._e.push(f);
	 	};
 
  		return t;
		}(document, "script", "twitter-wjs"));</script>


{% extends "base.html" %}

{% block content %}
	<h1>Google Maps</h1>
	<h1>{{ hasht }}
	<h1>{{ lat }}</h1>
    <h1>{{ lng }}</h1>

    <div id="map"></div>
    <div id="container"></div>
  
    {% for i in search_results %}


    <script type="text/javascript">
		twttr.widgets.createTweet(
		  '{{ i }}',
		  document.getElementById('container'),
		  {
		    theme: 'light'
		  }
		);

	</script>  	
    {% endfor %} 
    
    <script type="text/javascript">
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: '{{ lat }}', lng: '{{lng}}'},
   			zoom: 18
        });
        map.setTilt(45);
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjiXezUxSQNmEZU3SeuE-dBQ2-gldiTNY&callback=initMap">
    </script>
    
{% endblock %}



